{% extends 'base_log_reg.html' %}
{% load static %}

  {% block content %}
  <form method="post">
    {% csrf_token %}

    <img class="mb-4" src="{% static 'images/bootstrap-logo.svg' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Заполните Форму</h1>

    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <div class="form-floating">
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    </div>
    {% endfor %}
   
    <button class="w-100 btn btn-lg btn-primary" type="submit">Регистрация</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>

  {% endblock  %}

